*{
     margin: 0;
     padding: 0;
}
ul{
     list-style: none;
}
body{
     height: 100%;
     overflow: hidden;
}
.score{
     text-align: center;
     font-size: 36px;
     margin-bottom: 2rem;
     margin-top: 1rem;
}
.playground > ul{
    border: 1px solid #333333;
    width: 250px;
    margin: auto;
}
.playground > ul>li{
     width: 100%;
     height: 25px;
}
.playground > ul>li>ul{
    display: flex;
}
.playground > ul > li > ul > li{
    width: 25px;
    height: 25px;
    
}
.Tmino{
     outline:1px solid #cccccc;
     background-color: #ff00b3;
}
.Omino{
     outline:1px solid #cccccc;
     background: #fbff00;
}
.Imino{
     outline:1px solid #cccccc;
     background-color: #00e5ff;
}
.Zmino{
     outline:1px solid #cccccc;
     background: #ff0000;
}
.Smino{
     outline:1px solid #cccccc;
     background-color: #00fe48;
}
.Jmino{
     outline:1px solid #cccccc;
     background: #0400ff;
}
.Lmino{
     outline:1px solid #cccccc;
     background-color: #fe8c00;
}